body {
  background: url("img/resto1.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
}
img {
  margin-top: 10px;
  
}

li {
  margin-left: ;
}
.col {
  background-color: rgba(151, 136, 136, 0.623);
}

.put a.active {
  background-color: #4caf50;
  color: white;
  display: inline-block;
}

.put a:hover:not(.active) {
  background-color: #ddd;
}


 

h1 {
  color: rgb(224, 177, 22);
}
footer {
  color: rgb(224, 177, 22);
}

nav ul li a{
  color: rgb(224, 177, 22) !important;
}
/*
nav ul li a:hover {
  font-size: 1.1em;

 
}

