body {
  background: url("img/resto1.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem ;
}
img {
  margin-top: 10px;
  
}

 
.col {
  background-color: rgba(151, 136, 136, 0.623);
}


 

h1 {
  color: rgb(224, 177, 22);
}
footer {
  color: rgb(224, 177, 22);
   
   height: fit-content;
   width:100%;
}

nav ul li a{
  color: rgb(224, 177, 22) !important;
}

nav ul li a:hover {
  font-size: 1.1em;

 
}
  a i{
  font-size: 1.1em;

 
}
 

